body{
    font-family: URW Chancery L, cursive;
}

h1{
    color: navy;
    text-align: center;
    border-top: 5px dashed blue;
    border-bottom: 5px dashed blue;
}

p{
   color: lightseagreen;
   border-left: 10px dotted blue;
   border-right: 10px dotted blue;
}

nav{
     text-align: center;
}
