html , body  {
    height: 100%;
}
 
body{ 
     font-family: sans-serif;
     margin: 0px;
     background: linear-gradient(50deg,
        #36d1dc, #36d1dc, #6eeb83, #6eeb83, #e4ff1a, #f7b733, #fc4a1a, #fc4a1a);
        background-size: 250% 250%;
        animation: gradient 15s ease infinite;
}

@keyframes gradient {
         0% {
            background-position: 0 70%;
         }
         50% {
            background-position: 100% 50%;
         }
         100% {
            background-position: 0 70%;
         }
}

header h1{
        color: #1cb5e0;
        text-align: center;
}

header p{
    text-align: center;
    color: navy;
}

main h1{
        text-align: center;
        color: #1985a1;
}

footer{
     color: #427aa1;
     text-align: center;
}

ul{
    font-size: 20px;
    color: #f7b733:
    
}

ol{
    font-size: 20px;
    color: blue;
}



